<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}

</head>
<body>
   {{>navbar}}

<!-- --main header-- -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- left side div -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure>
                        <img src="images/404_page.gif" height="500rem" width="500rem" alt="shivam" class="img-fluid" height=250px width=250px title="tech deployer">
                    </figure>
                
                    <p>Welcome to the magical world of Shivam</p>
                    <h2>{{errorMsg}}</h2>
                    <a href="/"><button>GO BACK</button></a>
                </div>
                <!-- right side div -->
               

            </div>
        </div>
        

    </div>
</div>
    <!-- footer code -->

   {{>footer}}
</body>
</html>