<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}

</head>
<body>
   {{>navbar}}

<!-- --main header-- -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- left side div -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/about.jpg" alt="shivam" class="img-fluid" height=250px width=250px title="tech deployer">
                    </figure>
                  </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to the weather app</p>
                    <h2>I am a <span class="txt_color"> Tech Deployer,MEAN Stack Developer </span>And a Hockey player</h2>
                    <a href="https://shivanch.github.io/THE_coder_GUY/" target="_shiv"><button>ABOUT ME</button></a>
                </div>
                <!-- right side div -->
               

            </div>
        </div>
        

    </div>
</div>
    <!-- footer code -->

   {{>footer}}
</body>
</html>